.caveat-brush-regular {
    font-family: "Caveat Brush", serif;
    font-weight: 400;
    font-style: normal;
  }

.funnel-sans {
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p {
    width: 55%;
    font-size: 18px;
    color: aliceblue;
    text-align:justify;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-color:  rgba(66, 77, 138, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 90%;
    z-index: 10;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(5);
    filter: blur(5px);
  }

main {
    flex: 1; /* Pushes footer to the bottom */
    min-height: 100%; /* Take up full height of the screen */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #424d8a;
    color: rgb(61, 120, 159);
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #ffffff;
}

html, body {
    height: 100%; /* Ensure the page height is 100% */
    padding-top: 70px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* From Uiverse.io by Creatlydev */ 
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s, transform 0.2s ease;
    margin: 0 auto;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #303865;
    transform: scale(1.05);
}

.button:hover .button__icon-wrapper {
    color: #000;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

.button-container {
    text-align: center; /* Centers inline or inline-block elements */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Make sure the navbar is always on top of other content */
}

.section {
    height: 100vh; /* Make each section take full screen */
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-direction: column; /* Smooth transition for scrolling */
    position: relative; /* Added to position the pseudo-elements correctly */
}

.cards-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Dark background with transparency */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.learn-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    text-shadow: none;
    width: fit-content;
  }
  
  .learn-button {
    text-shadow: none;
    --primary-color: aliceblue;
    --hovered-color: rgb(95, 210, 255);
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .learn-button h5 {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
  .learn-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.1s ease-out;
  }
  
  .learn-button h5::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Learn";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.1s ease-out;
  }
  
  .learn-button:hover::after {
    width: 100%;
  }
  
  .learn-button:hover h5::before {
    width: 100%;
  }
  
  .learn-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color);
  }
  
  .learn-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }
  
  
  